/* src/gradientText.css */
.gradient-text {
    background-image: 
    linear-gradient(90deg,rgba(255, 132, 0, 1)
     19%, rgba(255, 28, 100, 1) 35%, rgba(242, 51, 124, 1)
      68%, rgba(255, 123, 0, 1) 100%);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 8s linear infinite;
  }
  
  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  

  .parallax-container {
    height: 25vh; /* Full viewport height */
    display: flex;
    position: relative;
  }
  
  .parallax-text {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
    position: absolute; /* Needed for the text to move freely */
    transition: transform 0.1s ease-out; /* Smooth transition */
  }

  .perspective {
    perspective: 1000px;
  }
  
  .preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  